<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--
    Specifies the host name or IP address for the Active Directory server.
    -->
    <add key="AdController" value="AD-SERVER-NAME" />
    
    <!--
    Specifies the domain to be used when authenticating to access the Active Directory server.
     -->
    <add key="AdDomain" value="AD-NAME" />
    
    <!--
    Specifies the distinguished name in Active Directory under which the user and group objects are located. (LDAP path).
    -->
    <add key="LdapPath" value="CN=Users,dc=AD-NAME,dc=local" />
    
    <!--
    Sets the security group in Active Directory to which users must be members to pass authentication.
    -->
    <add key="Group" value="RA_AllowVpnAccess" />

    <!--
    'true' to log the authentication results. The entries are written into the Windows Event log.
    -->
    <add key="EnableLogging" value="true" />
    
  </appSettings>
</configuration>
